.hotelRow:hover {
  background-color: #ffa9ac;
}

.restCard:hover {
    background-color: #ffa9ac;
    opacity: .9;
}

.attrCard:hover {
    background-color: #ffa9ac;
    opacity: .9;
}
button {
    background-color:#262960;
    color: white;
    border: none;
    margin: 2px;
}
.errorImg{
  width: 100%;
}

body {
    background-image: url("https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1496699939/hot-air-balloons-scenic-cappadocia-turkey-HOTAIR0605.jpg?itok=VtACp-RU");
    background-size: cover;

}
::-webkit-scrollbar {
display: none;
}
.container {
    background-color: #8fc1e3;
    margin-bottom: 50px;
    height: auto;
    opacity: .85;
}
.iteDiv {
  height: auto;
  background-color: rgb(99, 163, 202);
  margin: 2px;
}
.hotelStar {
  display: inline-block;
}
#homeBase {
    height: auto;
    margin-top: 10px;
    background-color: rgb(99, 163, 202);
}
.journeyBlock{
  background-color: rgb(99, 163, 202);
  margin: 2px;
  font-size: 18px;

}
#containerText {
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
    font-family: 'Cardo', serif;
}

#containerTxt {
    font-size: 30px;
    margin-left: 35px;
}
#iteBox{
  background-color: #31708e;
  height:auto;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
#iteContent {
  background-color: #31708e;
  height: 200px;
  margin: 10px;
}
#iteHeader {
  background-color:rgb(99, 163, 202);
  margin: 10px;
  height: 130px;
  padding: 7px;
  width: 595px;
}
#title {
    font-size: 100px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#titleMust {
    font-size: 100px;

}

#submitBtn {
    margin-top: 150px;
    background-color: #262960;
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;

}

#returnBtn {
    background-color: #262960;
    color: white;
    font-family: 'Oxygen', sans-serif;;
    font-size: 25px;
    border: none;
}

#submitButton {
    margin-top: 400px;
    background-color: #262960;
    color: white;
    font-family: 'Oxygen', sans-serif;;
}



#containerTwo {
    display: none;
}

#containerThree {
    display: none;
    opacity: 1;
}

#topContainerThree {
    margin-bottom: 50px;
}

#map {
  height: 500px;
  border: #ff575c;
  border-width: 3px;
}

#wrongPass {
  display: none;
  color: red;
}
#wrongPass2 {
  display: none;
  color: red;
}
.tripButtons{
  margin: 2px;
}

img {
    width: 120px;
    display: block;
    margin: 3px;
}

.pImg{
  height: 120px;
}

#saveButton {
    background-color: #262960;
    border: none;
}


p {
    margin: -5px;
}

.topInfo {
    margin-top: 3px;
}

/* working on it */
#place, #attraction {
  background-color: #31708e;
    border-radius: 10px;
}
#place p, #attraction p {
  margin: 2px;
}
.restCard {
  background-color: rgb(99, 163, 202);
  margin: 3px;
}
.attrCard {
  background-color: rgb(99, 163, 202);
  margin: 3px;
}

#insert {
    background-color: #8fc1e3;
}

#hotelPic {
    height: 160px;
    width: 160px;
}
.hotelRow {
    margin-bottom: 15px;
    background-color: #b6dff3;
}
 #topName {
     margin-top: 40px;
     font-weight: bolder;

 }
.restBox, .attrBox {
  height:50%;
}
/*
#startDateInput, #endDateInput {
  width: auto;
/* ======= */
.outGif {
  width: 100%;
  height: auto;
}
.iteImg {
  display: inline-block;
}
.iteDiv h2 {
  padding: 2px;
}

#titleName {
    font-weight: bolder;
}

#restBoxHeader {
  display: inline-block;
}

#attrBoxHeader {
    display: inline-block;
}

#itButton {
    float: right;
}

#attraction {
    width: 240px;
    margin-left: 15px;

}

@media screen and (max-width: 1200px){
    #iteHeader {
        width: 490px;
    }

    #place p {
        margin-left: 10px;
    }

    #hotelPic {
        height: 140px;
        width: 140px;
    }
    #topName {
        margin-top: 30px;
        font-weight: bolder;

    }
    #attraction {
        width: 165px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 990px){
    #iteHeader {
        width: 200px;
    }
    img {
      width: 80px;
    }
    pImg{
      height: 80px;
    }
    p {
    font-size: 12px;
    }

    #containerText {
        font-size: 37px;
    }

    #hotelPic {
        height: 100px;
        width: 100px;
    }
    #topName {
        margin-top: 25px;
        font-weight: bolder;

    }
    #attraction {
        width: 65px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 768px){
    #startDateInput {
        margin-top: -125px;
    }
    #containerText {
        margin-bottom: 20px;
    }
    #endDateInput {
        margin-top: -38px;
    }
    #destinationInput {
        margin-top: -25px;
    }
    img {
      width: 120px;
    }
    pImg {
      height: 120px;
    }
    #iteHeader {
        width: 490px;
    }
    #place p {
        margin: 0px;
        font-size: 15px;
        margin-left: 40px;
    }
    #attraction p {
        margin: 0px;
        font-size: 15px;
        margin-left: 40px;
    }

    p {
        font-size: 16px;
    }

    #iteHeader {
        width: 475px;
    }

    #hotelPic {
        height: 115px;
        width: 115px;
    }
    #attraction {
    width: 540px;
        margin-left: 15px;
    }

    #attrBoxHeader {
        margin-left: 15px;
    }
}

    @media screen and (max-width: 530px){
        #iteHeader {
            width: 345px;
        }

        #place p {
            margin-left: 10px;
        }
        #attraction {
            width: 530px;
                margin-left: 15px;
            }
    }
