/* hides scrollbar */

button {
    background-color:#262960;
    color: white;
    border: none;
    margin: 2px;
}

body {
    background-color: #87dbee;
}
::-webkit-scrollbar {
display: none;
}
.container {
    background-color: #87dbee;
    animation-name: introBack;
    animation-duration: 5s;
    margin-bottom: 50px;
    height: auto;
}
.iteDiv {
  height: 130px;
  background-color: #ffa9ac;
  margin: 2px;
}


#homeBase {
    height: 30px;
    margin-top: 10px;
}
.journeyBlock{
  background-color: lightblue;
  margin: 2px;
}
#containerText {
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
    font-family: "yeseva one"
}

#containerTxt {
    font-size: 30px;
    margin-left: 35px;
}
#iteBox{
  background-color: #ff575c;
  height:auto;
  margin: 5px;
  padding: 10px;
}
#iteContent {
  background-color: #ff575c;
  height: 200px;
  margin: 10px;
}
#iteHeader {
  background-color:#ffa9ac;
  margin: 10px;
  height: 130px;
  padding: 7px;
  width: 595px;
}
#title {
    font-size: 100px;
    text-align: center;
    font-family: "yeseva one"
}

#titleMust {
    font-size: 100px;

}

#submitBtn {
    margin-top: 150px;
    background-color: #262960;
    color: white;
    font-family: "josefin slab";
    font-size: 25px;

}

#returnBtn {
    background-color: #262960;
    color: white;
    font-family: "josefin slab";
    font-size: 25px;
    border: none;
}

#submitButton {
    margin-top: 400px;
    background-color: #262960;
    color: white;
    font-family: "josefin slab";
}



#containerTwo {
    display: none;
}

#containerThree {
    display: none;
}

#topContainerThree {
    margin-bottom: 50px;
}

#map {
  height: 500px;
}

#wrongPass {
  display: none;
  color: red;
}
#wrongPass2 {
  display: none;
  color: red;
}
.tripButtons{
  margin: 2px;
}

img {
    height: 120px;
    width: 120px;
    display: block;
    margin: 3px;

}

#saveButton {
    background-color: #262960;
    border: none;
}


p {
    margin: -5px;
}

.topInfo {
    margin-top: 3px;
}

/* working on it */
#place, #attraction {
  background-color: #ff575c;
}
#place p, #attraction p {
  margin: 2px;
}
.restCard {
  background-color: #ffa9ac;
  margin: 3px;
}
.attrCard {
  background-color: #ffa9ac;
  margin: 3px;
}
.restBox, .attrBox {
  height:50%;
}

<<<<<<< HEAD
#startDateInput, #endDateInput {
  width: auto;
=======
#titleName {
    font-weight: bolder;
}

.journeyBlock {
    background-color: #ff575c;
    color: #262960;
    font-size: 18px;
}

#itButton {
    float: right;
}

@media screen and (max-width: 1200px){
    #iteHeader {
        width: 490px;
    }

    #place p {
        margin-left: 10px;
    }
}

@media screen and (max-width: 990px){
    #iteHeader {
        width: 200px;
    }
    img {
        height: 80px;
        width: 80px;
    }
    p {
    font-size: 12px;
    }

    #containerText {
        font-size: 37px;
    }
}

@media screen and (max-width: 768px){
    #startDateInput {
        margin-top: -125px;
    }
    #containerText {
        margin-bottom: 20px;
    }
    #endDateInput {
        margin-top: -38px;
    }
    #destinationInput {
        margin-top: -25px;
    }
    img {
        height: 120px;
        width: 120px;
    }
    #iteHeader {
        width: 490px;
    }
    #place p {
        margin: 0px;
    }

    p {
        font-size: 16px;
    }

    #iteHeader {
        width: 475px;
    }

    @media screen and (max-width: 530px){
        #iteHeader {
            width: 345px;
        }

        #place p {
            margin-left: 10px;
        }
    }
}
